# Database

#### Definition:
* A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

#### Disclaimer!
1. It is a very important, conceptional and lengthy topic! Not covering 100% of this topic but I'll try to make it as much easier as I could!
2. You should have to know at least basic of the Database before visiting the code! Else it will make it much difficult!

## Importing The Built-in Library of Database

In [1]:
import sqlite3 as s3

## Making a "query"
* "create table" is a constant and "student" is going to be the name of Database

In [2]:
query = "create table Student(sID varchar, sname varchar)"

## Connecting "sqlite3" with "Database"

In [3]:
con = s3.connect("student.sqlite")

## Executing the Database
* The Database is created after executing but it is empty.

In [4]:
con.execute(query)

## Inserting Data in Database

#### Step 1: Creating Data
* Making a specific data for Database!

In [5]:
data = [
    (1,'Jamshed'),
    (2,'Qasim'),
    (3,'Aima'),
    (4,'Nawab')
]

#### Step 2: Making query to insert
* Again makinga query to insert Data into the database
* In the below line only word "student" is not constant as it is the name of the database, everything else is a "constent code of execution".

In [6]:
query = "INSERT INTO student values(?,?)"

#### Step 3: Conneting
* Now connecting query with data

In [7]:
con.executemany(query,data)

#### Step 4: Commit
* Now the only thing left is to commit and then the data will be inserted
* Any change you want to change in database you must have to commit or else the work will left undone!

In [8]:
con.commit()

## Fetching Data from Database

#### Step 1: Making a query
* "*" means all columns.
* For single columns mentioning of "Index".

In [9]:
query = "select * from student"

#### Step 2: Making a "Cursor"

In [10]:
cursor = con.execute(query)

#### Step 3: Fetching

In [11]:
row = cursor.fetchall()

In [12]:
row

[('1', 'Jamshed'), ('2', 'Qasim'), ('3', 'Aima'), ('4', 'Nawab')]

#### Step 4: Connection Closing (Important)

In [13]:
con.close()

## Checking Description

Every time after closeing database we have to re_connect

In [14]:
con = s3.connect("student.sqlite")

In [15]:
cursor.description

(('sID', None, None, None, None, None, None),
 ('sname', None, None, None, None, None, None))

In [16]:
con.close()